<?php

use League\Csv\Reader;
use FAQ\DataObjects\FAQ;
use SilverStripe\Dev\Debug;
use SilverStripe\Core\Convert;
use SilverStripe\Dev\BuildTask;
use FAQ\DataObjects\FAQCategory;
use Team\DataObjects\TeamMember;
use SilverStripe\Control\Director;
use SilverStripe\Security\Security;
use Reference\DataObjects\Reference;
use SilverStripe\Control\Controller;
use SilverStripe\Security\Permission;
use SilverStripe\SiteConfig\SiteConfig;
use TractorCow\Fluent\State\FluentState;

class SiteTreeLinkHelperTask extends BuildTask
{
    protected $enabled = true;

    protected $title = 'SS3 Upgrade SiteTree Link Converter';
    protected $description = 'Upgraded SiteTreeLinks in Content';

    public function run($request)
    {
        if (Security::getCurrentUser() == null || Security::getCurrentUser() != null && (Security::getCurrentUser()->ID == 0 || Security::getCurrentUser()->ID == null) && Permission::check('ADMIN')) {
            $controller = Controller::curr();
            return $controller->redirect(Controller::join_links(Security::config()->uninherited('login_url'), "?BackURL=" . urlencode($_SERVER['REQUEST_URI'])));
        }
        ini_set('max_execution_time', 7200);
        $this->updateObjects(Page::get());
        $this->updateObjects(FAQ::get());
        $this->updateObjects(Reference::get());
        $this->updateObjects(TeaserBox::get());
        $this->updateObjects(DecisionQuestionAnswer::get());
        $this->updateObjects(DecisionQuestion::get());
        $this->updateObjects(BannerItem::get());
        $this->updateObjects(ComplexContent::get());
        $this->updateObjects(FAQCategory::get());
        $this->updateObjects(SiteConfig::get());
        $this->updateObjects(TeamMember::get());
        $this->updateObjects(KontaktFormPage::get());
        $this->updateObjects(SeminarRegistrationFormPage::get());
        
    }
    public function updateObjects($Objects)
    {
        foreach($Objects as $object)
        {
            try
            {
                $object->updateSiteTreeLinks();
            }catch(Exception $ex)
            {
                echo "Missing Function updateSiteTreeLinks() in " . $object->ClassName.". Resolution: skip<br/>";
            }
        }
    }
}